<div class="project-modal h-100">
  <div class="row g-0 h-100">
    <div class="col-md-9">
      <div class="carousel">
        <div class="carousel-inner">
          @for (imageUrl of project()?.images; track imageUrl;) {
            <div class="carousel-item">
              <img [src]="imageUrl" alt="Image {{ $index + 1 }}">
            </div>
          }
        </div>
        <div class="carousel-controls">
          <button class="prev" (click)="prev()"><mat-icon>chevron_left</mat-icon></button>
          <button class="next" (click)="next()"><mat-icon>chevron_right</mat-icon></button>
        </div>
        <div class="carousel-preview">
          @for (imageUrl of project()?.images; track imageUrl; let i = $index) {
            <div class="carousel-preview-item" [class.active]="i === currentIndex" (click)="setActiveImage(i)">
              <img [src]="imageUrl" alt="Image {{ i + 1 }}">
            </div>
          }
        </div>
      </div>
      <div class="description py-4">
        <ul class="list-group-flush h-100">
          @for (description of project()?.descriptions; track description;) {
            <li class="list-group-item-primary">
              <p class="mb-0">{{description}}</p>
            </li>
          }
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <div class="logo center px-2">
        <a href="{{project()?.link}}" target="_blank" class="w-75">
          <img [src]="project()?.logo" alt="Project Logo" class="w-100 img-circle">
        </a>
      </div>
      <div class="info px-2 py-5 center-y flex-wrap text-center">
        <h3>{{project()?.title}}</h3>
        <h4>{{project()?.company}}</h4>
        <h4>
          {{project()?.startDate | date: 'MMMM yyyy'}} - 
          {{project()?.endDate ? (project()?.endDate | date: 'MMMM yyyy') : 'Present'}}
        </h4>
      </div>
      <div class="techs px-2 center">
        <div class="row g-0">
          @for (tech of project()?.techStack; track tech;) {
            <div class="col-md-3 center">
              <img [src]="getTechImgUrl(tech)" alt="Tech Image {{ $index }}" class="w-75">
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>