@font-face {
  font-family: 'Josefin Sans';
  src: url('/assets/fonts/JosefinSans-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900; // Variable font supporting multiple weights
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('/assets/fonts/Orbitron-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900; // Variable font supporting multiple weights
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/assets/fonts/Rajdhani-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
