.experience {
  height: 100vh;
  background-color: black;
  color: white;

  .container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    img {
      border-radius: 100%;
      width: 100%;
    }
  }
}