.experience {
  height: 25vh;
  background-color: black;
  color: white;

  .container,
  .row {
    height: inherit;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .experience {
      cursor: pointer;

      * {
        transition: all 0.2s ease-in-out;
      }

      img {
        border-radius: 100%;
        width: 100%;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }

        h3, h4 {
          color: #0d6efd;
        }
      }
    }

  }
}