<div class="experiences center">
  <div class="container">
    <div class="row center-y py-3 py-lg-0">
    @for (experience of data()?.experiences; track experience.title) {
      <div 
        class="experience col-md-6 col-lg-4"
        [ngClass]="{'mb-4 mb-lg-0': $index !== data()?.experiences.length - 1}"
        (click)="openLink(experience?.companyLink)">
        <div class="row center-y">
          <div class="col-3">
            <img class="img-fluid" [src]="experience?.companyImgUrl" alt="Company Image">
          </div>
          <div class="col-9">
            <h3>{{experience?.title}}</h3>
            <h4>{{experience?.company}}</h4>
            <h4>
              {{experience?.startDate | date: 'MMMM yyyy'}} - 
              {{experience?.isCurrentCompany ? 'Present' : (experience?.endDate | date: 'MMMM yyyy')}}
            </h4>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>