.experiences {
  min-height: 25vh;
  background-color: black;
  color: white;
  border-bottom: 1px solid white;

  .container,
  .row {
    height: inherit;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .experience {
      cursor: pointer;
      font-family: "Teko", sans-serif;

      * {
        transition: all 0.2s ease-in-out;
      }

      img {
        width: 100%;
        border-radius: 100%;
        border-style: solid;
        border-color:#0d6efd;
        border-width: 0;
      }

      &:hover {
        img {
          transform: scale(1.2);
          border-width: 3px;
        }

        h3, h4 {
          color: #0d6efd;
        }
      }
    }

  }
}