<div class="home">
  @if (isLoading) {
    <div class="loading center">
      <div class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
    </div>
  } @else {
    <fmt-banner [data]="data()?.bannerData"></fmt-banner>
    @if (profileService.isBannerLoaded()) {
      <fmt-profile [data]="data()?.profileData"></fmt-profile>
      <fmt-experience [data]="data()?.experienceData"></fmt-experience>
      <fmt-tech-stack [data]="data()?.techStackData"></fmt-tech-stack>
      <fmt-projects [data]="data()?.projectData"></fmt-projects>
      <fmt-contact [data]="data()?.contactData"></fmt-contact>
    }
  }
</div>