<div class="home">
  @if (isLoading) {
    <div @loadingPageAnimation class="loading center">
      <div class="content-container center">
        <div class="loader-container">
          <div class="loader"></div>
        </div>
        <div class="letter-container">
          <div class="letter"></div>
        </div>
      </div>
    </div>
  } @else {
    <div class="profile">
      <fmt-banner [data]="data()?.bannerData" [contactData]="data()?.contactData"></fmt-banner>
    </div>
    @if (profileService.isBannerLoaded()) {
      <div class="content">
        <fmt-profile [data]="data()?.profileData" [experienceData]="data()?.experienceData"></fmt-profile>
        <fmt-tech-stack [data]="data()?.techStackData"></fmt-tech-stack>
        <fmt-projects [data]="data()?.projectData"></fmt-projects>
      </div>
    }
  }
</div>