@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rajdhani:wght@300;400;500;600;700&display=swap');

.banner {
  height: 100vh;
  width: 100%;
  position: relative;
  background: rgb(35, 38, 46);
  background: linear-gradient(0deg, rgba(35, 38, 46, 1) 0%, rgba(221, 221, 221, 1) 40% 60%, rgba(35, 38, 46, 1) 100%);

  .bg-effect,
  .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .bg-effect {
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .content {
    .container,
    .row {
      height: inherit;
    }

    h1,
    h2 {
      text-shadow: 3px 2px white;
      font-family: "Josefin Sans", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
    }

    h1 {
      font-weight: bold;
      margin-bottom: 0;
    }

    h2 {
      margin-top: 0.5rem;
      font-family: "Rajdhani", sans-serif;
      font-style: normal;
    }

    img {
      width: 100%;
    }
  }

}
