@import "variables";

.banner {
  height: 100vh;
  width: 100%;
  position: relative;
  background-size: cover;
  overflow: hidden;

  .bg-effect,
  .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .bg-effect {
    background: linear-gradient(0deg, rgba($light-color, 0.1) 0%, rgba($primary-color, 0.5) 25% 75%, rgba($light-color, 0.1) 100%);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7spx);
  }

  .content {
    .container,
    .row {
      height: inherit;
    }

    .logo {
      // opacity: 0;
      img {
        width: 50%;
        filter: drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.75));
  
        @media (min-width: 768px) {
          width: 100%;
        }
      }
    }


    .title {
      text-align: center;

      @media (min-width: 768px) {
        text-align: left;
      }

      h1,
      h2 {
        text-shadow: 3px 2px $dark-color;
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
      }

      h1 {
        color: $light-color;
        font-weight: bold;
        margin-bottom: 0;
      }

      h2 {
        color: $secondary-color;
        margin-top: 0.5rem;
        font-family: "Rajdhani", sans-serif;
        font-style: normal;
      }
    }
  }

}

.type-animation-box {
  width: max-content;
  position: relative;

  .after,
  .before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .text {
    z-index: 1;
  }

  .before {
    z-index: 2;
    background: rgba($primary-color, 1);
    animation: type 1s steps(1) forwards;
  }

  .after {
    height: 90%;
    margin: auto 0;
    z-index: 3;
    width: 0.25em;
    background: transparent;
    animation: type 1s steps(1) forwards, blink 1s steps(1) 1;
  }
}

@keyframes type {
  to { left: 100% }
}

@keyframes blink {
  to { background: $light-color; }
}