<div class="banner" 
  [ngStyle]="{'background-image': 'url(' + data()?.bannerBGImgUrl + ')', 'background-position-y': bannerBGPosition}">
  <div class="bg-effect"></div>
  <div class="content">
    <div class="container">
      <div class="row d-flex align-items-stretch align-items-md-center">
        <div @introImageAnimation class="logo col-md-4 center-x align-items-end align-items-md-center"
          [ngStyle]="{'transform': 'translateY(' + bannerImagePosition + ')', 'opacity.%': bannerOpacity}">
          <img class="img-fluid" [src]="data()?.bannerImgUrl" alt="Banner Image" />
        </div>
        <div class="title col-md-8 mt-4 mt-md-0"
          [ngStyle]="{'transform': 'translateY(' + bannerImagePosition + ')', 'opacity.%': bannerOpacity}">
          @for (textData of bannerTextsData(); track textData.text) {
              @if (isLogoAnimationDone) {
              <div class="d-flex justify-content-center justify-content-md-start">
                <div class="type-animation-box">
                  @if (!$last) {
                    <h1 class="text">
                      @for (charData of textData?.charsData; track charData.char) {
                        <ng-container *ngTemplateOutlet="charContainer; context: { charData }"></ng-container>
                      }
                    </h1>
                  } @else {
                    <h2 class="text">
                      @for (charData of textData.charsData; track charData.char) {
                        <ng-container *ngTemplateOutlet="charContainer; context: { charData }"></ng-container>
                      }
                    </h2>
                  }
                  <ng-template #charContainer let-charData="charData">
                    <div class="char-container" [ngStyle]="charData.charStyle">
                      <span class="char">{{charData.char}}</span>
                      <span class="cursor" [ngStyle]="charData.blinkStyle || charData.charStyle"></span>
                    </div>
                  </ng-template>
                </div>
              </div>
              }
            }
        </div>
      </div>
    </div>
  </div>
</div>