<div class="banner" 
  [ngStyle]="{'background-image': 'url(' + data()?.bannerBGImgUrl + ')', 'background-position-y': bannerBGPosition}">
  <div class="bg-effect"></div>
  <div class="content">
    <div class="container">
      <div class="row d-flex align-items-stretch align-items-md-center">
        <div class="col-md-4 center-x align-items-end align-items-md-center"
          [ngStyle]="{'transform': 'translateY(' + bannerImagePosition + ')', 'opacity.%': bannerOpacity}">
          <img @introImageAnimation class="img-fluid" [src]="data()?.bannerImgUrl" alt="Banner Image" />
        </div>
        <div @introImageAnimation class="title col-md-8 mt-4 mt-md-0"
          [ngStyle]="{'transform': 'translateY(' + bannerImagePosition + ')', 'opacity.%': bannerOpacity}">
          <h1>{{data()?.firstName}}</h1>
          <h1>{{data()?.lastName}}</h1>
          <h2 class="fst-italic">{{data()?.position}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>