.tech-stack {
  height: 75vh;
  background-color: black;
  color: white;

  .container,
  .content,
  .row {
    height: inherit;
  }

  .tech-list {
    flex-direction: column;
    width: 100%;

    .tech {
      cursor: pointer;

      * {
        transition: all 0.2s ease-in-out;
      }

      img {
        height: 75px;
        width: 100%;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }

        h3 {
          color: red;
        }

        .progress-bar {
          background-color: red;
        }
      }
    }
  }
}