<div class="tech-stack center">
  <div class="container">
    <div class="content center-y">
      <div class="tech-list row py-3">
        @for (tech of techs(); track tech.name) {
          <div class="tech col-sm-6 col-md-4 mb-3" (click)="profileService.openLink(tech?.link)">
            <div class="row center-y">
              <div class="col-3 center">
                <img [src]="tech?.imgUrl" alt="Company Image">
              </div>
              <div class="col-9 center-y flex-wrap">
                <h3>{{tech?.name}}</h3>
                <div class="progress w-100 bg-white">
                  <div 
                    class="progress-bar"
                    role="progressbar"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    [style.width]="getTechWidth(tech?.dayUsed) + '%'">
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>