.profile {
  height: 100vh;
  overflow: hidden;
  background-color: #fff;

  .container,
  .content,
  .row {
    height: inherit;
  }

  .content {
    display: flex;
    flex-direction: column;
    font-family: "Teko", sans-serif;

    .description {
      flex: 7;
      
      p {
        text-align: justify;
        line-height: 1;
  
        @media (min-width: 992px) {
          line-height: 1.5;
        }
      }

      img {
        width: 75%;
        border-radius: 100%;
  
        @media (min-width: 768px) {
          width: 100%;
        }
      }
    }

    .languages {
      flex: 3;
      border-top: 1px solid black;

      img {
        width: 100%;
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: translateY(-20px);
        }
      }
    }
  }
}