.profile {
  height: 100vh;

  .container,
  .content,
  .row {
    height: inherit;
  }

  .content {
    display: flex;
    flex-direction: column;
    font-family: "Teko", sans-serif;

    .description {
      flex: 7;
      
      p {
        text-align: justify;
      }

      img {
        width: 100%;
        border-radius: 100%;
      }
    }

    .languages {
      flex: 3;
      border-top: 1px solid black;

      img {
        width: 100%;
      }
    }
  }
}