@use '@angular/material' as mat;
@include mat.core();
$fmt-portfolio-ng-18-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));
      
:root {
  @include mat.all-component-themes($fmt-portfolio-ng-18-theme);
}

@import 'variables';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Teko:wght@300..700&display=swap');

html, body { height: 100%; }

*, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lora', serif;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-x {
  display: flex;
  justify-content: center;
}

.center-y {
  display:flex;
  align-items: center;
}

.project-filters.mat-mdc-menu-panel {
  max-width: unset;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;

  mat-checkbox {
    .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
    .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
      background-color: rgba(0,0,0,0.9);
      border-color: rgba(0,0,0,0.9);
    }
  }
}

.language-tooltip.mat-mdc-tooltip .mat-mdc-tooltip-surface {
  text-align: center;
}

.project-modal.mat-mdc-dialog-panel {
  .mat-mdc-dialog-surface {
    border-radius: 0;
  }
}

