<div class="projects">
  <div class="container">
    <div class="content py-3">
      <div class="actions mb-3">
        <div class="row align-items-center">
          <div class="search col-md-6">
            <input 
              type="text"
              class="form-control w-75"
              placeholder="Search Project by Name, Tech or Company" 
              [(ngModel)]="searchText">
          </div>
          <div class="filter col-md-6 center-y justify-content-end">
            <mat-menu #filter="matMenu" class="project-filters">
              <div class="row g-0 center-y flex-wrap" style="width: 400px">
                <div class="col-md-4">
                  <mat-checkbox 
                    (change)="clearFilter()"
                    (click)="$event.stopPropagation()"
                    [checked]="!filters().length">
                    All
                  </mat-checkbox>
                </div>
                @for (tech of techs(); track tech.name) {
                  <div class="col-md-4">
                    <mat-checkbox
                      (change)="toggleFilter(tech.name)"
                      (click)="$event.stopPropagation()"
                      [checked]="filters().includes(tech.name)">
                      {{ tech?.name !== 'Angular Material' ? tech?.name : 'Material' }}
                    </mat-checkbox>
                  </div>
                }
              </div>
            </mat-menu>
            <mat-button-toggle mat-flat-button value="filter" [matMenuTriggerFor]="filter">Filter</mat-button-toggle>
          </div>
        </div>
      </div>
      <div class="project-list row flex-wrap">
        @for (project of projects(); track project.title) {
          <div class="project col-md-6 text-center mb-3" (click)="openProjectModal(project)">
            <div class="project-img center">
              <img [src]="project?.images[0]" alt="Project Image">
              <h5 class="mt-2">{{project?.title}}</h5>
            </div>
          </div>
        } @empty {
          <div class="col-12 h-100 center">No projects found</div>
        }
      </div>
    </div>
  </div>
</div>