<div class="projects">
  <div class="container">
    <div class="content py-3">
      <div class="actions mb-3">
        <div class="row align-items-center">
          <div class="search col-md-3">
            <input type="text" class="form-control" placeholder="Search Project" [(ngModel)]="searchText">
          </div>
          <div class="filter col-md-9 center-y overflow-x-auto">
            <button 
              class="btn btn-sm mx-1 center"
              (click)="clearFilter()"
              [ngClass]="!filters().length ? 'btn-primary' : 'btn-secondary'">
                All
            </button>
            @for (tech of techs(); track tech.name) {
              <button 
                class="btn btn-sm mx-1 center"
                (click)="toggleFilter(tech.name)"
                [ngClass]="filters().includes(tech.name) ? 'btn-primary' : 'btn-secondary'">
                {{ tech?.name !== 'Angular Material' ? tech?.name : 'Material' }}
              </button>
            }
          </div>
        </div>
      </div>
      <div class="project-list row flex-wrap">
        @for (project of projects(); track project.title) {
          <div class="project col-md-6 text-center mb-3" (click)="openProjectModal(project)">
            <div class="project-img center">
              <img [src]="project?.images[0]" alt="Project Image">
              <h5 class="mt-2">{{project?.title}}</h5>
            </div>
          </div>
        } @empty {
          <div class="col-12 h-100 center">No projects found</div>
        }
      </div>
    </div>
  </div>
</div>

<ng-template #modalTemplate>
  <div>This is a modal</div>
</ng-template>